<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    <img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px;"/>

    
    <form th:action="@{/shoppingCart/addItem}" method="post">
    	<!-- th:field는 name과 th:value를 합친 것 -->
    	<input hidden="hidden" th:field="*{book.id}" />
    	<div class="row" style="margin-top: 120px;">
    		<div class="col-xs-3">
    			<a th:href="@{/bookshelf}">책 목록으로 돌아가기</a><br/>
    			<img class="img-responsive shelf-book" th:src="#{adminPath}+@{/image/book/}+${book.id}+'.png'" />
    		</div>
    		
    		<div class="col-xs-9">
    			<h3 th:text="${book.title}">책 제목</h3>
    			<div class="row">
    				<div class="col-xs-5">
    					<h5><strong>작가: </strong><span th:text="${book.author}"></span></h5>
    					<p><strong>출판사: </strong><span th:text="${book.publisher}"></span></p>
    					<p><strong>출판일: </strong><span th:text="${book.publicationDate}"></span></p>
    					<p><strong>언어: </strong><span th:text="${book.language}"></span></p>
    					<p><strong>카테고리: </strong><span th:text="${book.category}"></span></p>
    					<p><strong><span th:text="${book.format}"></span>: </strong><span th:text="${book.numberOfPages}"></span> 페이지</p>
    					<p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
    					<p><strong>무게: </strong><span th:text="${book.shippingWeight}"></span> kg</p>
    				</div>
    				
    				<div class="col-xs-7">
    					<div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
    						<div class="panel-body">
    							<div class="row">
    								<div class="col-xs-6">
    									<h4>판매가: <span style="color:#db3208;">￦<span th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'DEFAULT', 0, 'DEFAULT' )}"></span></span></h4>
    									<p>정가: <span style="text-decoration: line-through">￦<span th:text="${#numbers.formatDecimal(book.listPrice, 0, 'DEFAULT', 0, 'DEFAULT' )}"></span></span></p>
    									<p>할인가: ￦<span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'DEFAULT', 0, 'DEFAULT' )}"></span></p>
    									<span>수량: </span>
    									<select name="qty">
    										<option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
    										</option>
    									</select>
    								</div>
    								<div class="col-xs-6">
    									<h4 th:if="*{book.inStockNumber&gt;10}" style="color: green">재고있음</h4>
    									<h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}" style="color: green">재고가 <span th:text="${book.inStockNumber}"> 권 있습니다.</span></h4>
    									<h4 th:if="*{book.inStockNumber==0}" style="color:darkred;">판매불가</h4>
    									<button type="submit" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">장바구니에 추가</button>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<hr />
    			<p th:utext="${book.description}" /> 
    		</div>
    	</div>
    </form>
</div>
<!-- end of container -->


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
