<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		 <!-- <div class="row" style="margin-bottom: 0px;"> --> 
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${#strings.toUpperCase(user.username)}"></span>
					</h2>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		<!-- </div> --> 
		<hr
			style="position: absolute; width: 87.5%; height: 6px; background-color: #333; z-index: -1; margin-top: 100px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />
		
		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">수정</span></a></li>
					<li th:classappend="${classActiveOrders}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">주문</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">청구지</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'"><a
						href="#tab-4" data-toggle="tab"><span style="color: red;">배송지</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- 사용자 정보 수정 -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}" />

										<div class="bg-info" th:if="${updateUserInfo}">사용자 정보
											수정.</div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">성</label> <input type="text"
														class="form-control" id="firstName" name="firstName"
														th:value="${user.firstName}" />
												</div>
												<div class="col-xs-6">
													<label for="lastName">이름</label> <input type="text"
														class="form-control" id="lastName" name="lastName"
														th:value="${user.lastName}" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="userName">아이디</label> ' <input type="text"
												class="form-control" id="userName" name="username"
												th:value="${user.username}" />
										</div>
										<div class="form-group">
											<label for="currentPassword">현재 비밀번호</label> ' <input
												type="text" class="form-control" id="currentPassword"
												name="currentPassword" th:value="${currentPassword}" />
										</div>
										<p style="color: #828282">이메일 또는 비밀번호 수정을 위해 현재 비밀번호를 입력하세요.</p>

										<div class="form-group">
											<label for="email">* 이메일</label> ' <input
												type="text" class="form-control" id="email" name="email"
												th:value="${user.email}" />
										</div>
										<p style="color: #828282">유효한 이메일을 등록하세요. 비밀번호가 등록한 이메일로 보내집니다.</p>

										<div class="form-group">
											<label for="txtNewPassword">비밀번호</label> ' <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" />
										</div>

										<div class="form-group">
											<label for="txtConfirmPassword">비밀번호 확인</label> ' <input
												type="password" class="form-control" id="txtConfirmPassword" />
										</div>
										<p style="color: #828282">To change the current user
											password, enter the new password in both fields.</p>

										<button type="submit" class="btn btn-primary">새 계정 등록</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- 주문 정보 -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrder}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;"></div>
							</div>
						</div>
					</div>

					<!-- 청구지 정보 -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveBilling}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<ol class="breadcrumb">

										<li class="breadcrumb-item active"><a
											th:href="@{/listOfCreditCards}"
											th:style="${listOfCreditCards}? 'color:red'">결제 카드 목록</a></li>

										<li class="breadcrumb-item active"><a
											th:href="@{/addNewCreditCard}"
											th:style="${addNewCreditCard}? 'color:red'">결제 카드 추가 또는
												수정</a></li>
									</ol>

									<!-- controller에서 받아온 값이 true일때 -->
									<div th:if="${listOfCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<td>기본</td>
														<td>결제 카드</td>
														<td>수정 및 삭제</td>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td><input type="radio" name="defaultUserPaymentId"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /></td>
														<td th:text="${userPayment.cardName}"></td>
														<td><a
															th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
																class="fa fa-pencil"></i><span>수정</span></a> <a
															th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
																class="fa fa-times"></i><span>삭제</span></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">저장</button>
										</form>
									</div>

									<div th:if="${addNewCreditCard}">
										<form th:action="@{/addNewCreditCard}" method="post">
											<div class="bg-info" th:if="${updateUserPaymentInfo}">사용자
												정보 수정.</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group">
												<h5>* 결제 카드 이름:</h5>
												<input type="text" class="form-control" id="cardName"
													placeHolder="Card Name" th:name="cardName"
													required="required" th:value="${userPayment.cardName}" />
											</div>


											<!-- Billing Address -->
											<hr />
											<div class="form-group">
												<h4>청구지 주소</h4>
											</div>
											<div class="form-group">
												<label for="billingName">* 이름</label> <input type="text"
													class="form-control" id="billingName"
													placeholder="Receiver Name" th:name="userBillingName"
													required="required"
													th:value="${userBilling.userBillingName}" />
											</div>
											<div class="form-group">
												<label for="billingAddress">* 상세 주소</label> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Street Address" th:name="userBillingStreet"
													required="required"
													th:value="${userBilling.userBillingStreet}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingCity">* 시</label> <input type="text"
															class="form-control" id="billingCity"
															placeholder="Billing city" th:name="userBillingCity"
															required="required"
															th:value="${userBilling.userBillingCity}" />
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingState">* State</label> <select
															id="billingState" class="form-control"
															th:name="userBillingState"
															th:value="${userBilling.userBillingState}"
															required="required">
															<option value="" disabled="disabled">지역을 선택하세요</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userBilling.userBillingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingZipcode">* 우편번호</label> <input
															type="text" class="form-control" id="billingZipcode"
															placeholder="Billing Zipcode"
															th:name="userBillingZipcode" required="required"
															th:value="${userBilling.userBillingZipcode}" />
													</div>
												</div>
											</div>

											<!-- Credit Card Information -->
											<hr />
											<div class="form-group">
												<h4>결제 카드 정보</h4>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive" /><br />
													<div class="form-group">
														<label for="cardType">* 카드 타입 선택 : </label> <select
															class="form-control" id="cardType" th:name="type"
															th:value="${userPayment.type}">
															<option value="visa" th:selected="(${userPayment.type} == 'visa')">Visa</option>
															<option value="mastercard" th:selected="(${userPayment.type} == 'mastercard')">Mastercard</option>
															<option value="discover" th:selected="(${userPayment.type} == 'discover')">Discover</option>
															<option value="amex" th:selected="(${userPayment.type} == 'amex')">American Express</option>
														</select>
													</div>
													<div class="form-group">
														<label for="cardHolder">* 카드 소유자 이름 :</label> <input
															type="text" class="form-control" id="cardHolder"
															required="required" placeHolder="Card Holder Name"
															th:name="holderName" th:value="${userPayment.holderName}" />
													</div>
													<div class="form-group">
														<label for="cardNumber">* 카드 번호:</label>
														<div class="input-group">
															<input type="tel" class="form-control" id="cardNumber"
																required="required" placeHolder="Valid Card Number"
																th:name="cardNumber"
																th:value="${userPayment.cardNumber}" /> <span
																class="input-group-addon"><i
																class="fa fa-credit-card" aria-hidden="true"></i></span>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-xs-7">
													<div class="form-group">
														<label>* 유효 기간</label>
														<div class="row">
															<div class="col-xs-6">
																<select class="form-control" name="expiryMonth"
																	required="required"
																	th:value="${userPayment.expiryMonth}">
																	<option disabled="disabled">-- 월 --</option>
																	<option value="01" th:selected="(${userPayment.expiryMonth} == '1')">1월 (01)</option>
																	<option value="02" th:selected="(${userPayment.expiryMonth} == '2')">2월 (02)</option>
																	<option value="03" th:selected="(${userPayment.expiryMonth} == '3')">3월 (03)</option>
																	<option value="04" th:selected="(${userPayment.expiryMonth} == '4')">4월 (04)</option>
																	<option value="05" th:selected="(${userPayment.expiryMonth} == '5')">5월 (05)</option>
																	<option value="06" th:selected="(${userPayment.expiryMonth} == '6')">6월 (06)</option>
																	<option value="07" th:selected="(${userPayment.expiryMonth} == '7')">7월 (07)</option>
																	<option value="08" th:selected="(${userPayment.expiryMonth} == '8')">8월 (08)</option>
																	<option value="09" th:selected="(${userPayment.expiryMonth} == '9')">9월 (09)</option>
																	<option value="10" th:selected="(${userPayment.expiryMonth} == '10')">10월 (10)</option>
																	<option value="11" th:selected="(${userPayment.expiryMonth} == '11')">11월 (11)</option>
																	<option value="12" th:selected="(${userPayment.expiryMonth} == '12')">12월 (12)</option>
																</select>
															</div>
															<div class="col-xs-6">
																<select class="form-control" name="expiryYear"
																	th:value="${userPayment.expiryYear}">
																	<option disabled="disabled">-- 년 --</option>
																	<option value="18" th:selected="(${userPayment.expiryYear} == '18')">2018</option>
																	<option value="19" th:selected="(${userPayment.expiryYear} == '19')">2019</option>
																	<option value="20" th:selected="(${userPayment.expiryYear} == '20')">2020</option>
																	<option value="21" th:selected="(${userPayment.expiryYear} == '21')">2021</option>
																	<option value="22" th:selected="(${userPayment.expiryYear} == '22')">2022</option>
																	<option value="23" th:selected="(${userPayment.expiryYear} == '23')">2023</option>
																	<option value="24" th:selected="(${userPayment.expiryYear} == '24')">2024</option>
																	<option value="25" th:selected="(${userPayment.expiryYear} == '25')">2025</option>
																	<option value="26" th:selected="(${userPayment.expiryYear} == '26')">2026</option>
																	<option value="27" th:selected="(${userPayment.expiryYear} == '27')">2027</option>
																	<option value="28" th:selected="(${userPayment.expiryYear} == '28')">2028</option>
																	<option value="29" th:selected="(${userPayment.expiryYear} == '29')">2029</option>
																	<option value="30" th:selected="(${userPayment.expiryYear} == '30')">2030</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5">
													<div class="form-group">
														<label for="cardCVC">CV Code</label> <input id="cardCVC"
															type="tel" class="form-control" name="cvc"
															placeholder="CVC" th:name="cvc"
															th:value="${userPayment.cvc}" />
													</div>
												</div>
											</div>
											<hr />
											<button type="submit" class="btn btn-primary btn-lg">모두 저장</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
